@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Signika+Negative:wght@400;700&family=Single+Day&family=Ubuntu:wght@400;500&display=swap');
.main-page{
  background-color: #5e8db183;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
}
.title{
  text-align: center;
  padding: 50px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}
.search-box{
  margin-top: 32px;
  margin-bottom: 24px;
}
.image-icon img{
  border-radius: 8px;
}

.contact-box{
  margin-top: 5px;
  background-color: #fff;
  border-radius: 8px;
  font-family: 'Single Day', cursive;
  font-size: 18px;
}
.item-box{
 padding: 12px;
}

